<div class="mx-auto text-center">
	<div class='col-sm-6 col-lg-4'>
		<div class="books">
			<div class="card">
				<!-- <div class="card-topper" style='background-image: url(<%# ((Book.where(:post_id post.id)).image.exists?) ? ((Book.where(:post_id post.id)).image) : ("assets/fallback/book_placeholder.png") %>);'></div> -->
				<!-- <div class="card-topper" style='background-image: url("../assets/fallback/book_placeholder.png");'></div> -->
				<%# link_to book.image.to_s do %>
	      		<%= image_tag(book.image_url(:thumb).to_s, :class => "card-topper grow shadow text-center mx-auto card-topper", :style => "background-image", :style => "background-image", :align => "middle") %>
	      		<%#end%>
				<div class="card-block">
					<h4 class="card-title"><%= link_to book.title, book %></h4>
					<br>				
					<p class="card-text">Author: <%= book.author %></p>
					<p class="card-text">Condition: <%= book.condition %></p>
					<p class="card-text">ISBN: <%= book.ISBN %></p>
					<%= link_to book, class: 'btn btn-primary' do %>
						<span>
					  		<i class="fa fa-eye"></i>
					  		View
					  	</span>
					<% end %>
					<% if (Post.find(book.post_id)).user_id == current_user.id %> 
		        		<%= link_to 'Edit', {:controller => "books", :action => "edit", :id => book.id, :post_id => params[:id]}, :class => "btn btn-primary" %>
				        <%= link_to book, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' do %>
					        <span>
						  		<i class="fa fa-trash"></i>
						  		Delete
						  	</span>
						<% end %>
				    <% end %>
				</div>
			</div>
		</div>	
	</div>
</div>