<%= form_with(model: book, local: true, :html => {:multipart => true}) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mx-auto text-center">
    <%= form.label :title %>
    <%= form.text_field :title, id: :book_title %>
  </div>

  <div class="mx-auto text-center">
    <%= form.label :author %>
    <%= form.text_field :author, id: :book_author %>
  </div>

  <div class="mx-auto text-center">
    <%= form.label :condition %>
    <%# form.text_field :condition, id: :book_condition %>
    <%= form.select :condition, ['Great', 'Good', 'OK', 'Poor']%>
  </div>

  <div class="mx-auto text-center">
    <%= form.label :ISBN %>
    <%= form.text_field :ISBN, id: :book_ISBN %>
  </div>
  <div class="mx-auto text-center">
    <%= form.file_field :image, id: :image %>
  </div>
  <br>
  <div>
  <%# form.label :post_id %>
  <%= form.hidden_field :post_id, value: params[:post_id] %>
  </div>

  <div class="mx-auto text-center">
    <%= form.submit "Submit", :class => "btn btn-success" %>
  </div>
<% end %>
