<% provide(:page_title, @book.title) %>
<br />
<br />
<div class="mx-auto text-center">
<p>
	<%# image_tag @book.image_url(:thumb).to_s %>

	<%# link_to @book.image_url.to_s do %>
      <%= image_tag(@book.image_url(:thumb).to_s, class: "grow shadow text-center mx-auto card-topper", :style => "background-image", :align => "middle", size: "450x600") %>
      <!-- :class => "text-center mx-auto card-topper", :style => "background-image", :align => "middle", size: "150x200" -->
<%# end %>
</p>

<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    <%=fa_icon "street-view", text: "Click Here to View Meetup Location"%>
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
		<div class="row mx-auto text-center">
      <div class="col"></div>
        <div class="col d-flex justify-content-center">
          <%= render_gmap_coordinate_picker api_key: ENV["MAPS_API_KEY"], 'static'  => 'true', :default_coordinates => [@post.latitude,@post.longitude] , :zoom_level => 10  %>
        </div>
      	<div class="col"></div>
  	</div>
  </div>
</div>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @book.condition %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @book.ISBN %>
</p>
<p>
  <strong>Value:</strong>
  <%= "$#{'%.2f' % @book.value}" %>
</p>



<% if @user.id == current_user.id %>
<%= link_to fa_icon('fa-pen-square')+"Edit", {:action => "edit", :id => @book.id, :post_id => @post.id}, :class => "btn btn-primary" %>
  |
<% else %>
  <%= link_to new_sale_path(:id => params[:book_id], current_user.id=> params[:buyer_id], @book.user_id => params[:seller_id]), class: 'btn btn-primary' do %>
    <span>
      <i class="fa fa-shopping-cart"></i>
      Buy This Book!
    </span> |
  <% end %>
<% end %>
<%= link_to post_path(@book.post_id), class: 'btn btn-primary' do %>
  <span>
  <i class="fa fa-backward"></i>
  Back
  </span>

<% end %>
</div>
