<% provide(:page_title, @book.title) %>
<p id="notice"><%= notice %></p>

<p>
	 <strong>Image:</strong>
	<%# image_tag @book.image_url(:thumb).to_s %>

	<%= link_to @book.image_url.to_s do %>
      <%= image_tag(@book.image_url(:thumb).to_s, class: "grow shadow") %>
<% end %>
</p>
<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @book.condition %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @book.ISBN %>
</p>

<%= link_to 'Edit', :action => "edit", :id => @book.id, :post_id => @post.id %> |
<%= link_to 'Back', post_path(@book.post_id) %>
