<% provide(:page_title, @book.title) %>
<p id="notice"><%= notice %></p>
<div class="mx-auto text-center">
<p>
	<%# image_tag @book.image_url(:thumb).to_s %>

	<%# link_to @book.image_url.to_s do %>
      <%= image_tag(@book.image_url(:thumb).to_s, class: "grow shadow text-center mx-auto card-topper", :style => "background-image", :align => "middle", size: "450x600") %>
      <!-- :class => "text-center mx-auto card-topper", :style => "background-image", :align => "middle", size: "150x200" -->
<%# end %>
</p>
<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @book.condition %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @book.ISBN %>
</p>
<p>
  <strong>Value:</strong>
  <%= @book.value %>
</p>
<% if @user.id == current_user.id %>
<%= link_to fa_icon('fa-pen-square')+"Edit", {:action => "edit", :id => @book.id, :post_id => @post.id}, :class => "btn btn-primary" %>
  |
<% end %>
<%= link_to post_path(@book.post_id), class: 'btn btn-primary' do %>
  <span>
  <i class="fa fa-backward"></i>
  Back
  </span>
<% end %>
</div>
