<% if @books.blank? %>
  <h3>No Books<h3>
    <% else %>
    <div class='col-sm-6 col-lg-4'>
  <div class="books">
    <div class="card">
      <!-- <div class="card-topper" style='background-image: url(<%# ((Book.where(:post_id post.id)).image.exists?) ? ((Book.where(:post_id post.id)).image) : ("assets/fallback/book_placeholder.png") %>);'></div> -->
      <div class="card-topper" style='background-image: url("assets/fallback/book_placeholder.png");'></div>
      <div class="card-block">
        <h4 class="card-title"><%= link_to book.title, book %></h4>
        <br>        
        <p class="card-text"><%= book.author %></p>
        <p class="card-text"><%= book.condition %></p>
        <p class="card-text"><%= book.ISBN %></p>
        <%= link_to 'View', book, class: 'btn btn-primary' %>
        <% if post.user_id == current_user.id %> 
          
              <%= link_to 'Edit', edit_book_path(book), class: 'btn btn-primary' %>
              <%= link_to 'Delete', book, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
          <% end %>
      </div>
    </div>
  </div>  
</div>
<%end%>