<%= form_with(model: post, local: true) do |form| %>
<%= stylesheet_link_tag 'devise' %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mx-auto text-center">
    <%= form.label  :title %>
    <%= form.text_field :title, id: :post_title, autocomplete: "title"%>
  </div>

  <div class="mx-auto text-center">
    <%= form.label :body %>
    <%= form.text_area :body, id: :post_body %>
  </div>
  <div class="mx-auto text-center">
    <h2>Choose a Meetup Spot</h2>
    <div class="row mx-auto text-center">
      <div class="col"></div>
        <div class="col d-flex justify-content-center">
          <%= form.gmap_coordinate_picker api_key: ENV["MAPS_API_KEY"], :lat_column => 'latitude', :lng_column => 'longitude' , :zoom_level => 10,  :class => "mx-auto text-center", autocomplete: { enable: true, class: 'mx-auto text-center form-control' }  %>
        </div>
      <div class="col"></div>
    </div>
  </div>
  <div class="mx-auto text-center">
    <%= form.submit "Submit", :class => "btn btn-success" %>
  </div>
<% end %>
