<% provide(:page_title, 'All Posts') %>
<p id="notice"><%= notice %></p>


  <%= render "layouts/partials/nav" %>
  <% if @posts.blank? %>
    <h3>No Posts Yet</h3>
      <%= link_to new_post_path, class: 'btn btn-success' do %>
        <span>
            <i class="fa fa-plus"></i>
            Create One?
        </span>
      <% end %>
  <% else %>
  
   <%= link_to new_post_path, class: 'btn btn-success' do %>
      <span>
        <i class="fa fa-plus"></i>
        New Post
      </span>
    <% end %>
    <br></br>
      
    <div class="row">
      <%= render @posts %>
    </div>
    <%= link_to new_post_path, class: 'btn btn-success' do %>
      <span>
        <i class="fa fa-plus"></i>
        New Post
      </span>
    <% end %>
  <% end %>
<br>


