<% provide(:page_title, @post.title) %>
<div class="mx-auto text-center">
	<p id="notice"><%= notice %></p>
	<p>
	  <strong>Title:</strong>
	  <%= @post.title %>
	</p>

	<p>
	  <strong>Body:</strong>
	  <%= @post.body %>
	</p>

	<% if @books.blank? %>
	    <h3>No Books Yet</h3>
	<%else%>
	<h2>No Books Yet</h2>
	<%# render 'layouts/partials/post/books' %>
		<div class="row">
			<%= render @books %>
    	</div>
		<%end%>

	<% if @post.user_id == current_user.id %>
		<%= link_to new_book_to_post_path(@post.id), class: 'btn btn-success' do %>
		  <span>
		    <i class="fa fa-plus"></i>
		    Add Book
		  </span>
		<% end %>

	<br>
	<br>
		<%= link_to edit_post_path(@post), class: 'btn btn-warning' do %>
			<span>
				<i class="fa fa-edit"></i>
				Edit Post
			</span> 
		<% end %> | 
		<%= link_to @post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' do %> 
			<span>
				<i class="fa fa-trash"></i>
				Delete Post
			</span>
		<% end %> |
	<% else %>
		<%= link_to new_reply_to_post_path(@post.id), class: 'btn btn-primary' do %>
			<span>
				<i class="fa fa-pen-reply"></i>
				Reply to Post
			</span>
		<% end %> |
	<% end %>
	<%= link_to posts_path, class: 'btn btn-primary' do %>
		<span>
			<i class="fa fa-backward"></i>
			Back
		</span>
	<% end %>
	<br></br>
	<% if @replies.blank? %>
	  <h3>No Replies Yet</h3>
	<%else%>
	<%# render 'layouts/partials/post/books' %>
	 <h2>Replies</h2>
	 <div class="row">
			<%= render @replies %>
   </div>
	 <%end%>
</div>