<% provide(:page_title, @post.title) %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>
<%= link_to 'Reply',  new_post_reply_path(@post) %>
<br>

<% if @post.user_id == current_user.id %>
<%= link_to 'Edit', edit_post_path(@post) %> | 
<%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', posts_path %>


	<h1>Replies</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Options</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @replies.each do |reply| %>
      <tr>
        <td><%= reply.body %></td>
        <td><%= link_to 'View', reply %></td>

        <!-- If user is signed in, show additional options -->
        <% if reply.user_id == current_user.id %> 
        
        <td><%= link_to 'Edit', edit_reply_path(reply) %></td>
        <td><%= link_to 'Delete', reply, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        
        <%end%>

      </tr>
    <% end %>
  </tbody>
</table>

