<% provide(:page_title, @post.title) %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<% if @books.blank? %>
    <h3>No Books Yet</h3>
    <%else%>
<%# render 'layouts/partials/post/books' %>
	<%= render @books %>
	<%end%>

<% if @post.user_id == current_user.id %>
<%= link_to 'Add Book', new_book_to_post_path(@post.id), class: 'btn btn-success' %>

<br>
<br>
<%= link_to 'Edit Post', edit_post_path(@post), class: 'btn btn-warning' %> | 
<%= link_to 'Delete Post', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'%> |
<% else %>
<%= link_to 'Reply to Post',  new_reply_to_post_path(@post.id), class: 'btn btn-primary' %><br>
<% end %>
<%= link_to 'Back', posts_path, class: 'btn btn-primary' %>

<%= render 'layouts/partials/post/replies' %>