    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'logo.png' %>
    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom fonts for this template -->

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <!-- <link href="assets/landing-page.min.css" rel="stylesheet"> -->
    <%= stylesheet_link_tag 'alerts' %>

    
  <!-- Header -->
  <%= csrf_meta_tags %>
  </head>
  <!-- <ul class="hmenu">
  <%= render 'devise/menu/registration_items' %>
  <%= render 'devise/menu/login_items' %>
  </ul> -->
  

  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary justify-content-between">
      <%= link_to root_path do %>
        <%= image_tag "Papercut_white-01.svg", class: "navbar-brand", :width => "150", :height => "55" %>
      <% end %>
	  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
	    	<span class="navbar-toggler-icon"></span>
	  	</button>

	  	<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
	    	<ul class="navbar-nav ml-auto mr-2 mt-rg-0">
	      		
            <% if current_user.try(:admin?) %>
              <li class="nav-item">
              <%= render 'devise/menu/admin_items' %>
              </li>
            <% else %>
            <li class="nav-item">
              <%= render 'devise/menu/login_items' %>
            </li>
            <li class="nav-item">
              <%= render 'devise/menu/registration_items' %>
            </li>
            <% end %>
	    	</ul>
	    	
	  	</div>
	</nav>