<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:page_title) %> | Papercut</title>
    <%= favicon_link_tag 'logo.png' %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  <!-- Header -->
  <%= render "layouts/partials/header" %>
  <body>	
  <%= render 'layouts/messages' %>
  <%= yield %>
  </body>
   <!-- Footer -->
  <%= render 'layouts/partials/footer' %>
</html>
